*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.bigbox{
         display: flex;
         flex-direction: column;
         width: 100%;
         justify-content: center;
         align-items: center;
         min-height: 100vh;

}

.bigbox{
    background-color: #B89D65;
    
}
h2{
    padding-bottom: 20px;
    font-size: 50px;
    font-family: sans-serif;
    cursor: pointer;
   
}

h3{
    font-size: 30px;
    cursor: pointer;
}

.bigbox div{
     
     width: 40%;
    
}

.bigbox div>input{
    width: 100%;
    padding: 8px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 10px;
   
    
    
}

.bigbox table{
    width: 100%;
    background-color:rgb(119, 214, 119)  ;
   
   
    
}

.bigbox table td{
    padding: 5px;
    text-align: center;
    cursor: pointer;
     
}

h1{
    font-family: monospace;
    font-size: 40px;
    width: 100%;
}

h1:hover{
    background-color: rgb(131, 131, 226);
    cursor: pointer;
}